@media screen and (max-width: 768px) {
/* ------------------------------------------ */
/* base_sp
/* ------------------------------------------ */
.section-wrapper {
  padding: 100px 0 40px;
}
.section-title {
  padding: 0 4vw; /* スマホ画面左右に15px程度の隙間を空ける */
  font-size: 3rem;
  margin-bottom: 50px;
}
.section-title::after {
  width: 90px;
}
.section-inner {
  padding: 0 4vw;
}
.section-bottom {
  font-size: 4rem;
  padding: 0 4vw;
}
.link-btn {
  margin-bottom: 40px;
}
body.noscroll {
  overflow: hidden;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.sp-br {
  display: block;
}
.pc-br {
  display: none;
}

/* ------------------------------------------ */
/* header_sp
/* ------------------------------------------ */
.header {
  padding: 30px 4vw 0;
}
.header-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #282F35;
}
.nav-list {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-item {
  margin: 0 0 30px;
}
.nav-item:last-of-type {
  margin-bottom: 0;
}
.burger-btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 4vw;
}
.burger-btn .bar {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #fff;
  transition: .3s;
}
.bar_top, .bar_mid {
  margin-bottom: 8px;
}
.burger-btn.cross .bar_top {
  transform: rotate(45deg) translate(8px, 8px);
  transition: .3s;
}
.burger-btn.cross .bar_mid {
  opacity: 0;
  transition: .3s;
}
.burger-btn.cross .bar_bottom {
  transform: rotate(-45deg) translate(8px, -8px);
  transition: .3s;
}

/* ------------------------------------------ */
/* page-title_sp
/* ------------------------------------------ */
.page-title-wrapper {
  height: 360px;
}
.page-title {
  font-size: 3rem;
}
.page-title-bottom {
  font-size: 4rem;
  margin: 40px 15px;
}

/* ------------------------------------------ */
/* form_sp
/* ------------------------------------------ */
.checkbox-list {
  display: block;
}
.checkbox-item {
  margin-right: 0px;
}
}